{% extends 'base.html' %}

{% block title %}Last 10 Saved Results{% endblock %}

{% block content %}
<style>
    .col-lg-custom {
        width: 10%; /* Adjust this value as needed */
    }
    .city-info {
        height: 220px; /* Adjust this value as needed */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .box {
        margin-bottom: 10px; /* Adjust this value as needed */
    }
</style>

<div class="container mt-4">
    <div class="row">
        {% for result, stamp in zipped_results %}
                <div class="col-12 col-sm-3 col-md-2 col-lg-custom mb-4">
                    <div class="border p-3 box">
                        <h5>{{ stamp }}</h5>
                        {% for city, city_info in result.items %}
                             {% if city != 'Average' %}
                                <div class="city-info">
                                    <h6>{{ city }}</h6>
                                    <div>
                                        <p>T: {{ city_info.temp_current }} &#176;C</p>
                                        <p>H: {{ city_info.humidity }}%</p>
                                        <p>C: {{ city_info.conditions }}</p>
                                    </div>
                                </div>
                             {% endif %}
                        {% endfor %}
                        <div class="city-info">
                            <div>
                                <p><b>Average:</b>: {{ result.Average.Average_temp }} &#176;C</p>
                                <p><b>Coldest:</b>: {{ result.Average.Coldest_city }}</p>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>

<style>
    .refresh-button-container {
        margin-top: -50px;
    }
</style>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="refresh-button-container">
                <form method="post" action="{% url 'refresh_data' %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Refresh</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}